<%= render 'layouts/searchform' %>
<div id="welcome">
	<h4 id="home">Welcome to the Libation Library! Use the search bar above to find cocktails by name. 
		A random drink will be shown if nothing is entered in the search box.</h4>
</div>
